<% if !current_user %>
  <form method="POST" action="/login">
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Login"/>
  </form>
<% end %>