<% if current_user %>
  <div>Logged in user: <%= current_user %></div>
<% else %>
  <form method="POST" action="/signup">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Signup"/>
  </form>
<% end %>